/* GENEL KODLAR */
* {
    font-family: 'Lato', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
html {
    font-size: 10px;
}
body {
    display: flex;
    align-items:center;
    justify-content: center;
    background:linear-gradient(to right,blue,white);
    height: 100vh;
    overflow: hidden;
}
/* ------------------------------------------------------------------- */
#sinav {
    width: 60rem;
    background-color: rgb(59, 59, 207);
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.2rem lightskyblue;
    overflow: hidden;
    padding:5px 10px;
    color: black;
    transition:color .5s ease-in;
}
#sinav:hover {
    color:white;
}
.soruAlani {
    padding: 4rem;
}
h2 {
    text-align: center;
    padding: 1.8rem 0rem 2.5rem 0rem !important;
}
ul{
    list-style: none;
}
ul li {
    font-size: 2rem;
    margin:2rem 0 !important;
}
ul li label{
    cursor:pointer;
    margin-left: 10px;
}
button {
    background-color: blue;
    width: 100%;
    display: block;
    border: none;
    padding:1rem;
    color: white;
    font-size: 1.5rem !important;
    font-family: inherit;
}
#soruEkle {
    width: 20%;
    float: right;
    margin: 0px 0px 10px 0px !important;
}
#gonder:hover,#soruEkle:hover {
    background-color: rgb(10, 10, 65);
}
#gonder:focus{
    background-color: rgb(5, 5, 102);
    outline: none;
}
.ekleLabel {
    font-size: 1.6rem;
    margin-right:1rem;
    height: 4rem;
}
.form-group .form-control {
    font-size:1.6rem;
}



/* ---------------------------------------- */